<p id="notice"><%= notice %></p>

<h1>Term Popularities</h1>

<table>
  <thead>
    <tr>
      <th/>
      <th>Keyword</th>
      <th>Tweet Count</th>
      <th>Coordinates</th>
      <th/>
      <th>Updated</th>
      <th>Created</th>
      <th colspan="1"></th>
      <th/>
    </tr>
  </thead>

  <tbody>
    <!--  Generates a table row by row from elements of @term_popularities -->
    <% @term_popularities.each do |term_popularity| %>
      <tr>
        <td/>

        <td>
          <%= term_popularity.keyword %>
        </td>

        <td>
          <%= term_popularity.tweet_count %>
        </td>

        <td>
          <%= verify_coordinates(term_popularity.coordinates) %>
        </td>

        <td/>

        <td>
          <%= term_popularity.updated_at %>
        </td>

        <td>
          <%= term_popularity.created_at %>
        </td>

        <td>
          <a>
            <%= link_to 'Destroy', 
                        term_popularity, 
                        method: :delete, data: { confirm: 'Are you sure?' } %>
          </a>
        </td>

        <td/>
      </tr>
    <% end %>
  </tbody>
</table>

